# BACC_frames folder
BACC_frames/

# MISS_plots folder
MISS_plots/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/
.venv/

.DS_Store

# IDE
.vscode/
.idea/

# Data files
*.csv
*.pkl
ghost_events_table.html

